nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #777;
    box-shadow: 4px 4px 6px black;
}
.brand, .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand img{
    width: 40px;
    margin-right: 0.6rem;
}
.brand h2{
    transition: 0.2s;
}

.brand:hover > h2{
    color: #fff
}

.links li{
    margin-right: 1em;
    list-style: none;
}
.links a{
    padding: 0.1em 0.3em;
}

#add a {
    color: black;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

#add a:hover{
    background: transparent;
    border-color: #000000;
    border: solid 1.5px black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
