<div class="about">
    <h2>Sobre mim!</h2>
    <p>Meu nome é Leandro Carvalho, tenho 23 anos e estou no segundo período de analise e desenvolvimento de sistemas pela Uninter!</p><br>
    <p>Minha história com a programação começou no curso técnico de Redes de Computadores integrado ao ensino médio, 
        aonde tive meu primeiro contato com programação com Python. Continuei meus estudos na Uninter, no curso de Análise e Desenvolvimento de Sistemas,
         onde tive breve contato com C/C++ e JavaScript. Atualmente, estou estudando com foco no desenvolvimento web, 
         utilizando Angular v15 – v17, Angular Material, JavaScript, Bootstrap e NodeJS e para me acostumar com a futura rotina de trabalho, 
         estou estudando também metodologias ágeis SCRUM e Kanban, por conselho de um amigo. Fora da faculdade, complemento meus estudos de forma independente, 
         utilizando documentações, vídeos e mantendo contato com profissionais que já atuam na área. </p>
    <a id='only' routerLink="/">Dê uma espiadinha nos projetos :D</a>
</div>