<form>
<div>
      <div>
        <div>
          <h2>LOGIN</h2>
          <span>Faça login para usar o gerenciamento de conteúdo..</span>
        </div>
      </div>
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <input type="submit" value="Login" (click)="login()">
        <input type="submit" value="Logout" (click)="logout()">
        <p>Não possui registo? Visite como convidado e <a routerLink="/">Veja os projetos</a></p>  
    </div>
</form>